body {
  margin: 0;
  background-color: #60676C;
  display: flex;
  justify-content: center;
  font-family: "Arial", Arial, monospace;
} 

canvas {
  margin-top: 60px;
  z-index: 10;
  border: 3px solid white;
}

.game-over-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 700px;
  background-color: #26292B;
  margin-top: -4px;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border-radius: 7px;
}


th, tr {
  text-align: center; 
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

}

.initial-start-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 700px;
  background-color: #26292B;
  margin-top: -4px;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border-radius: 7px;
}

button {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: #ccd0d1;
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Arial", Arial, monospace;
  font-kerning: ;
  margin-top: 20px;
}

.start-button {
  margin-bottom: 40px;
  background-color: #D33E43;
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
}

.h1 {
  font-weight: bold;
  letter-spacing: 2px;
}

.button-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  text-align: center !important; 
  white-space: nowrap !important;
}


.mode-button {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: #ccd0d1;
  border: none;
  height: 50px;
  width: 65px;
  border-radius: 15px;
  font-size: 15px;
  font-family: "Arial", Arial, monospace;
  margin-top: 20px;
  display: inline-block !important; 
  margin-right: 5px;
}

.logo {
  background-image: url("images/localpong.svg");
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 40%;
  border-radius: 7px;
}

.mode-button-clicked {
  background-color: #94C7A6; 
}

button:hover {
  filter: brightness(80%);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

/* Montior and Larger */
@media screen and (min-width: 1800px) {
  canvas {
    margin-top: 100px;
  }

  .game-over-container {
    margin-top: -19px;
  }
}

/* Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
  canvas {
    width: 100%;
    height: 700px;
    margin-top: 50px;
  }

  .game-over-container {
    width: 100%;
    height: 700px;
  }
}
